<style>


body{
background-color: #fafbfc;
}


.topnav ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: .5em;
  margin: 0;
}

.topnav li{
  margin: 0 1em;
}

.topnav a{
  font-family: "Fira Sans";
  font-size: 1 rem;
  font-weight:300;
  line-height: 2rem;
  text-transform: uppercase;
  color: #76808a;
  text-decoration:none;
}

li.logo{
  margin-right: auto;
}

.hero{
  background-image: url("template/IMG_5548.jpg");

  /* Set a specific height */
  height: 90vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1{
  font-family: "Fira Sans Condensed";
  font-size: 4.5rem;
  font-weight: 500;

}

h2{
  font-family: "Fira Sans Condensed";
  font-size: 1.875rem;
  font-weight: 500;
  color: #303638;
}

h3{
  font-family: "Fira Sans Condensed";
  font-size: 1.5rem;
  font-weight: 500;
  color: #303638;
}

p{
  font-family: "Fira Sans";
  font-size: 1.25rem;
  font-weight:300;
  line-height: 2rem;
  color: #6E6E6E;
}

figcaption{
  font-family: "Fira Mono";
  font-size: .875rem;
  font-weight:300;
  text-align: center;
  color: #6E6E6E;
}

.graybg{
  background-color: gray;
  padding: 6rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.flexContainer{
  display: flex;
  justify-content: space-around;
flex-wrap: wrap;
}

.social{
  display: flex;
  border-top-style: solid;
  border-top-color: #AEB4B8;
  max-width: 750px;
  margin: auto;
  justify-content: center;
}
  .social img
  {
    max-height: 1.5em;
    padding: 1em;
  }
/*
.headerImg img{
  width: 100%;
  max-height: 90vh;
}

.headerImg {
  max-height: 30vh;
}
*/

.bodyContent{
  margin: auto;
  max-width: 750px;
}

.homeContent{
  margin: auto;
  max-width: 1000px;
}

.cards{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.card{
  display: inline-block;
  flex: 1 1 275px;
  background: #fff;
  padding: 1em;
  margin: .5em;
  box-shadow: 2px 2px 4px 0 #ccc;
}

img{
  max-width: 100%;
}
</style>
