html, .root {
  font-size: 20px;
  line-height: 30px;
}
body, .article {
  font-family: "Work Sans";
  font-size: 1rem;
  line-height: 1.5rem;
  color: #333;
}
h1, .h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
h2, .h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
}
h3, .h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h4, .h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

figcaption{
  font-size: .8rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}

a{
  color: #666;
  text-decoration: none;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}


.topnav ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: .5em;
  margin: 0;
}

.topnav li{
  margin: 0 1em;
}

.topnav a{
  line-height: 2rem;
  text-transform: uppercase;
}

li.logo{
  margin-right: auto;
}

.title{
  text-align: left;
  position: absolute;
  top: 30%;
  left: 8.3333%;
  right: 16.66667%;
  color: white;
  text-shadow: 0px 0px 2px #ccc;
}


.container {
  max-width: 33rem;
  margin-left: 33%;

}

.page img{
  max-width: 100%;
}

.imgLarge img{
margin-left: -25%;
margin-top: 3rem;
max-width: 150%;
}


.imgSmall img{
  max-width: 100%;
  margin-top: 3rem;
}

.imgLarge.wireframe img{
box-shadow: .8rem .8rem 2rem rgba(0, 0, 0, 0.12);
border-radius: .5rem;
}


.parallax {
  /* The image used */
  background-image: url("IMG_5481.jpg");

  /* Full height */
  height: 100vh;
  width: 100vw;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footernav{
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #ccc;
  max-width: 80%;
  margin: 6rem auto;
}

.footernav ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: .5em;
  margin: 0;
}

.footernav li{
  margin: 0 1em;
}

.footernav a{
  line-height: 2rem;
  color: #666;
}

li.email{
  margin-right: auto;
}


  .footernav img
  {
    max-height: 1em;
  }
